.reservationsCard {
	width: 100%;
	margin-bottom: 50px;
	border-radius: 16px;
	box-sizing: border-box;
	padding: 0px 20px 20px 20px;

	h2 {
		margin: 0px;
	}

	.tabRow {
		display: flex;

		.tab {
			padding: 15px;
			border-radius: 8px;
			display: flex;
			align-items: center;

			&.inactive {
				border: 1px solid #F4CE14;
			}

			&.noClick {
				pointer-events: none;
			}

			&.clickable {
				cursor: pointer;
			}
		}
	}

	.errorMessage {
		margin-top: 5px;
		padding-left: 20px;
		display: block;
	}

	.timeResult {
		border-radius: 8px;
		padding: 5px 20px;
		cursor: pointer;
		user-select: none;

		&:hover {
			transform: translate(2px, 2px);
		}
	}

	.submitButton {
		width: 100%;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: 16px;
		margin-top: 20px;

		&.active {
			cursor: pointer;

			&:hover {
				transform: translate(2px, 2px);
			}

			&:active {
				box-shadow: none;
				transform: translateY(2px) translateX(2px);
			}
		}

		&.inactive {
			opacity: .5;
		}

	}

	.entryField {
		width: 100%;
		margin-top: 15px;

		.caption {
			width: 100%;
			margin-bottom: 10px;
		}

		input,
		select {
			width: 100%;
			height: 64px;
			border-radius: 16px;
			border: none;
			box-shadow: 3px 3px 5px #333333;
			color: inherit;
			padding: 0px 20px;
			box-sizing: border-box;

			&::placeholder {
				font-style: italic;
				padding-left: 5px;
			}

			&[type="time"]::-webkit-calendar-picker-indicator {
				background-size: 40px;
				width: 40px;
				height: 40px;
				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke="%23495E57"><circle cy="12" cx="12" r="10" fill="none" stroke-width="2"/><line x1="12" x2="12" y1="12" y2="6" stroke-width="2" stroke-linecap="round"></line><line x1="12" x2="16" y1="12" y2="16" stroke-width="2" stroke-linecap="round"></line></svg>');
			}

			&[type="date"]::-webkit-calendar-picker-indicator {
				background-size: 40px;
				width: 40px;
				height: 40px;

				background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="%23495E57" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
			}
		}

		select {
			appearance: none;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke="%23495E57"><line x1="12" x2="20" y1="16" y2="8" stroke-width="2" stroke-linecap="round"></line><line x1="12" x2="4" y1="16" y2="8" stroke-width="2" stroke-linecap="round"></line></svg>');
			background-size: 40px;
			background-position: calc(100% - 20px) center;
			background-repeat: no-repeat;
		}


	}
}