.testimonialsListWrapper {
	position: relative;
	display: flex;
	overflow-x: hidden;
	box-sizing: border-box;
	margin: 10px;
}

.testimonialsList {
	display: flex;
	flex-direction: row;
	position: relative;
	left: 0;
	transition: left .3s;
}

.floatingArrow {
	position: absolute;
	top: 0;
	height: 100%;
	width: 40px;
	font-size: 80px;
	vertical-align: middle;
	overflow: hidden;
	opacity: .5;
	transition: opacity .5s;
	border-radius: 8px;
	cursor: pointer;


	&.disabled {
		display: none;
	}

	&.left {
		left: 0;
		background: rgba(150, 150, 150, .8);
		mask-image: -webkit-gradient(linear, center top, right top, from(rgba(255, 0, 0, .8)), to(rgba(0, 0, 0, 0)));
	}

	&.right {
		right: 0;
		background: rgba(150, 150, 150, .8);
		mask-image: -webkit-gradient(linear, center top, left top, from(rgba(255, 0, 0, .8)), to(rgba(0, 0, 0, 0)));
	}

	&:hover {
		opacity: 1;
		backdrop-filter: blur(1px);
	}

	.arrow {
		border: 5px solid darkslategray;
		height: 100px;
		width: 100px;
		position: relative;
		top: 50%;

		transform: translateY(-50%) rotate(45deg);

		&.left {
			left: 30px;
		}

		&.right {
			right: 100px;
		}
	}
}

.testimonialCard {
	aspect-ratio: 1/1;
	border-radius: 8px;
	padding: 15px;
	overflow: hidden;
	flex-shrink: 0;
	box-sizing: border-box;
	user-select: none;

	div {
		margin-top: 10px;
	}

	.name {
		vertical-align: top;
		padding-left: 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 50%;
	}

	.quote {
		margin-top: 10px;
		font-style: italic;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		flex: 0;
		user-select: text;

		&::before {
			content: "“";
		}

		&::after {
			content: "”";
		}
	}
}